.statsMain {
    width: 75vw;
    height: 90vh;
}

.definitions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.subSelection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.selector {
    width: 75%;
    margin-left: auto;
    padding: 10px;
}

.entries {
    height: auto;
}

.entry {
    margin-top: 15px;
    height: 25px;
}

.titles {
    display: flex;
    flex-direction: row;
}

.place{
    width: 50px;
    margin-left: 15px;
}

.username{
    width: 20%;
}

.submitted{
    margin-left: auto;
    margin-right: 15px;
}

.selectorLabel {
    font-size: 20px;
    margin-top: 10px;
}