<div class="center">
    <div class="form themeSelector input-group">
        <h2 class="center">Themes</h2>
        <button (click)="changeTheme('lofi')">Lofi</button>
        <button (click)="changeTheme('stars')">Stars</button>
        <button (click)="changeTheme('sunset')">Sunset</button>
        <button (click)="changeTheme('blackhole')">Black Hole</button>
        <button (click)="changeTheme('dark')">Dark</button>
        <button (click)="changeTheme('light')">Light</button>
    </div>
</div>
