<div class="container">
    <div class="center-horizontal">
        <div class="form input-group mainBar">
            <div class="mainBarItems">
                <button class="buttonText fullWidth" [ngClass]="{'selected': tab === 'dashboard'}" (click)="switchTab('dashboard')">Dashboard</button>
                <button class="buttonText fullWidth" [ngClass]="{'selected': tab === 'games'}" (click)="switchTab('games')">Games</button>
                <!-- <button class="buttonText fullWidth" [ngClass]="{'selected': tab === 'challenges'}" (click)="switchTab('challenges')">New Runs</button> -->
                <button class="buttonText fullWidth" [ngClass]="{'selected': tab === 'themes'}" (click)="switchTab('themes')">Themes</button>
                <button class="buttonText fullWidth" [ngClass]="{'selected': tab === 'developer'}" (click)="switchTab('developer')">Developer</button>
            </div>
        </div>
    </div>
    <div class="tab">
        <app-dashboard-view *ngIf="tab === 'dashboard'"></app-dashboard-view>
        <app-theme-selector *ngIf="tab === 'themes'"></app-theme-selector>
        <app-game-selector *ngIf="tab === 'games'"></app-game-selector>
        <app-challenge-selector *ngIf="tab === 'challenges'"></app-challenge-selector>
        <app-developer *ngIf="tab === 'developer'"></app-developer>
    </div>
</div>


