.dashboard {
    width: 60vw;
    height: 80vh;
    overflow: auto;
    background-color: red;
}

.horizontalItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    overflow: auto;
    gap: 15px;
}

.itemContainer {
    min-width: 220px;
}

.view {
    background-color: red;
}

@media only screen and (max-width: 500px) {
    .dashboard {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 60vw;
        height:60vh;
        //overflow: auto;
    }
  }