<div class="center-horizontal">
    <div class="form devSettingsMain">
        <h1 class="center-horizontal">Developer Settings</h1>
        <div class="form">
            <h2 class="center-horizontal">Game Settings</h2>
            <div class="form">
                <h3 class="input">Create Game</h3>
                <div>
                    <input type="search" class="input" placeholder="Game Name*">
                </div>
                <button class="disabled input">Create</button>
            </div>
            <br>
            <div class="form">
                <h3 class="input">Delete Game</h3>
                <div>
                    <input type="search" class="input" placeholder="UUID*">
                </div>
                <button class="disabled input red">DELETE</button>
            </div>
            <br>
            <div class="form">
                <h3 class="input">Update Game</h3>
                <div>
                    <input type="search" class="input" placeholder="UUID*">
                    <input type="search" class="input" placeholder="New Name">
                    <input type="search" class="input" placeholder="Icon URL">
                    <input type="search" class="input" placeholder="Description">
                </div>
                <button class="disabled input">Create</button>
            </div>
        </div>
        <br>
        <div class="form">
            <h3 class="center-horizontal">Version Settings</h3>

            <div class="form">
                <p class="input">Create Version</p>
                <div>
                    <input type="search" class="input" placeholder="Version Name*">
                    <input type="search" class="input" placeholder="Game UUID*">
                </div>
                <button class="disabled input">Create</button>
            </div>
        </div>
        <br>
        <div class="form">
            <h3 class="center-horizontal">Challenge Settings</h3>
            <div class="form">
                <h3 class="input">Update Game</h3>
                <div>
                    <input type="search" class="input" placeholder="Game UUID*" [(ngModel)]="gameUUID">
                    <input type="search" class="input" placeholder="Version Name*" [(ngModel)]="versionName">
                    <input type="checkbox" class="input" [(ngModel)]="versionEnabled">
                </div>
                <button [ngClass]="{ 'disabled': !buttonsEnabled.versionChallenge}" class="disabled input" (click)="onChallengeVersionGet()">Get</button>
                <button [ngClass]="{ 'disabled': !buttonsEnabled.versionChallenge}" class="disabled input" (click)="onChallengeVersionUpdate()">Update</button>
            </div>
        </div>
        <br>
        <div class="form">
            <h2 class="center-horizontal">My Games</h2>
            <div class="form">

            </div>
        </div>

        

        
    </div>>
</div>
